<?xml version="1.0" encoding="utf-8" ?>
<osmin>
	<openfilefilter>OpenStreetMap file (*.osm)|*.osm|All files (*.*)|*.*</openfilefilter>
	<defaultstyle>Black</defaultstyle>
	<importstyle name="Black">
		<layer4license>OSM_IMPORT_BOUNDARY</layer4license>
		<licenstext>© OpenStreetMap contributors</licenstext>
		<layer4nodes>OSM_NODE</layer4nodes>
		<layerprefix>OSM</layerprefix>
		<layerkeynames>
			<layerkey>building</layerkey>
			<layerkey>aerialway</layerkey>
			<layerkey>aeroway</layerkey>
			<layerkey>amenity</layerkey>
			<layerkey>barrier</layerkey>
			<layerkey>boundary</layerkey>
			<layerkey>craft</layerkey>
			<layerkey>emergency</layerkey>
			<layerkey>geological</layerkey>
			<layerkey>highway</layerkey>
			<layerkey>cycleway</layerkey>
			<layerkey>historic</layerkey>
			<layerkey>landuse</layerkey>
			<layerkey>leisure</layerkey>
			<layerkey>man made</layerkey>
			<layerkey>military</layerkey>
			<layerkey>natural</layerkey>
			<layerkey>office</layerkey>
			<layerkey>places</layerkey>
			<layerkey>power</layerkey>
			<layerkey>public transport</layerkey>
			<layerkey>railway</layerkey>
			<layerkey>route</layerkey>
			<layerkey>shop</layerkey>
			<layerkey>sport</layerkey>
			<layerkey>tourism</layerkey>
			<layerkey>waterway</layerkey>
		</layerkeynames>
		<!-- this list is to identifie nodes to insert them as block. -->
		<!-- the blockname will be build in the form: layerprefix _ keyname _ value;  like "OSM_amenity_bench" or "OSM_leisure_playground"-->
		<!-- this list will be used top down, if a tagname fits all others will be ignored -->
		<!-- if a tag name is not listed, the node will be ignored to insert-->
		<nodetagkeynames>
			<!-- it is empty here because we didn't need any nodes in this importstyle -->
			<nodetagkey>amenity</nodetagkey>
			<nodetagkey>crossing</nodetagkey>
			<nodetagkey>shop</nodetagkey>
			<nodetagkey>highway</nodetagkey>
			<nodetagkey>leisure</nodetagkey>
			<nodetagkey/>
		</nodetagkeynames>
		<layersettings>
			<!-- this list will be used top down, if a layername fits all others will be ignored -->
			<!-- Name;On;Freeze;Lock;Color;Linetype;Lineweight;Transparency;Plot;New VP Freeze;Description -->
			<layerstyle>BUILDING*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;individual buildings or groups of connected buildings</layerstyle>
			<layerstyle>IMPORT_BOUNDARY;True;False;7;Continuos;ByLineWeightDefault;0;True;False;individual buildings or groups of connected buildings</layerstyle>
			<layerstyle>ARIALWAY*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;Skilifts etc.</layerstyle>
			<layerstyle>AEROWAY_APRON;False;True;204,153,255;Continuos;ByLineWeightDefault;0;True;False;A place where planes are parked.</layerstyle>
			<layerstyle>AEROWAY_TERMINAL;False;True;204,153,255;Continuos;ByLineWeightDefault;0;True;False;</layerstyle>
			<layerstyle>AEROWAY*;False;True;187,187,204;Continuos;ByLineWeightDefault;0;True;False;Airport passenger building</layerstyle>
			<layerstyle>AMENITY_PARKING;False;True;246,239,180;Continuos;ByLineWeightDefault;0;True;False;Car park. </layerstyle>
			<layerstyle>AMENITY_CINEMA;False;True;204,153,153;Continuos;ByLineWeightDefault;0;True;False;</layerstyle>
			<layerstyle>AMENITY*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;Used to map facilities for visitors and residents</layerstyle>
			<layerstyle>BARRIER*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;Used to describe barriers and obstacles to travel.</layerstyle>
			<layerstyle>BOUNDARY_ADMINISTRATIVE;False;True;249,113,103;DASHDOT;ByLineWeightDefault;0;True;False;An administrative boundary.</layerstyle>
			<layerstyle>BOUNDARY_NATIONAL_PARK;False;True;111,249,114;DASHDOT;ByLineWeightDefault;0;True;False;Area of outstanding natural beauty, set aside for conservation and for recreation</layerstyle>
			<layerstyle>BOUNDARY*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;Used to describe administrative and other boundaries.</layerstyle>
			<layerstyle>CRAFT*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;A place producing or processing customised goods.</layerstyle>
			<layerstyle>EMERGENCY*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;Used to describe the location of emergency facilities and equipment.</layerstyle>
			<layerstyle>GEOLOGICAL*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;Used to describe the geological makeup of an area</layerstyle>
			<layerstyle>HIGHWAY_MOTORWAY*;False;True;136,163,204;Continuos;ByLineWeightDefault;0;True;False;A restricted access major divided highway</layerstyle>
			<layerstyle>HIGHWAY_TRUNK;False;True;148,212,148;Continuos;ByLineWeightDefault;0;True;False;2nd most important roads in a country's system that aren't motorways.</layerstyle>
			<layerstyle>HIGHWAY_PRIMARY*;False;True;220,158,158;Continuos;ByLineWeightDefault;0;True;False;3th most important roads in a country's system.</layerstyle>
			<layerstyle>HIGHWAY_SECONDARY*;False;True;248,213,169;Continuos;ByLineWeightDefault;0;True;False;4th most important roads in a country's system</layerstyle>
			<layerstyle>HIGHWAY_TERTIARY*;False;True;248,248,186;Continuos;ByLineWeightDefault;0;True;False;5th most important roads in a country's system</layerstyle>
			<layerstyle>HIGHWAY_UNCLASSIFIED;False;True;254,254,254;Continuos;ByLineWeightDefault;0;True;False;The least most important through roads in a country's system </layerstyle>
			<layerstyle>HIGHWAY_RESIDENTIAL;False;True;254,254,254;Continuos;ByLineWeightDefault;0;True;False;Roads which are primarily lined with and serve as an access to housing.</layerstyle>
			<layerstyle>HIGHWAY_SERVICE;False;True;254,254,254;Continuos;ByLineWeightDefault;0;True;False;For access roads to, or within an industrial estate, camp site, business park, car park etc</layerstyle>
			<layerstyle>HIGHWAY_LIVING_STREET;False;True;204,204,204;Continuos;ByLineWeightDefault;0;True;False;For living streets, which are residential streets where pedestrians have legal priority over cars</layerstyle>
			<layerstyle>HIGHWAY_PEDESTRIAN;False;True;237,237,237;Continuos;ByLineWeightDefault;0;True;False;For roads used mainly/exclusively for pedestrians in shopping and some residential areas</layerstyle>
			<layerstyle>HIGHWAY_TRACK;False;True;171,134,55;HIDDEN;ByLineWeightDefault;0;True;False;Roads for agricultural or forestry uses etc, often rough with unpaved/unsealed surfaces</layerstyle>
			<layerstyle>HIGHWAY_BUS_GUIDEWAY;False;True;102,102,255;DASHED;ByLineWeightDefault;0;True;False;A busway where the vehicle guided by the way (though not a railway) and is not suitable for other traffic.</layerstyle>
			<layerstyle>HIGHWAY_ROAD;False;True;220,220,220;Continuos;ByLineWeightDefault;0;True;False;A road where the mapper is unable to ascertain the classification from the information available</layerstyle>
			<layerstyle>HIGHWAY_FOOTWAY;False;True;248,206,200;HIDDEN;ByLineWeightDefault;0;True;False;For designated footpaths</layerstyle>
			<layerstyle>HIGHWAY_BRIDLEWAY;False;True;90,170,88;HIDDEN2;ByLineWeightDefault;0;True;False;For horses</layerstyle>
			<layerstyle>HIGHWAY_STEPS;False;True;7;HIDDEN2;ByLineWeightDefault;0;True;False;For flights of steps (stairs) on footways</layerstyle>
			<layerstyle>HIGHWAY_PATH;False;True;7;DASEHD;ByLineWeightDefault;0;True;False;For flights of steps (stairs) on footways</layerstyle>
			<layerstyle>HIGHWAY_CYCLEWAY;False;True;12,12,255;HIDDEN;ByLineWeightDefault;0;True;False;For designated cycleways</layerstyle>
			<layerstyle>HIGHWAY_REST_AREA;False;True;236,202,203;Continuos;ByLineWeightDefault;0;True;False;Place where drivers can leave the road to rest, but not refuel</layerstyle>
			<layerstyle>HIGHWAY_SERVICES;False;True;236,202,203;Continuos;ByLineWeightDefault;0;True;False;A service station to get food and eat something, often found at motorways</layerstyle>
			<layerstyle>HIGHWAY*;False;True;236,202,203;Continuos;ByLineWeightDefault;0;True;False;unknown highway</layerstyle>
			<layerstyle>CYCLEWAY*;False;True;12,12,255;HIDDEN;ByLineWeightDefault;0;True;False;For designated cycleways</layerstyle>
			<layerstyle>HISTORIC*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;archeological sites, wrecks, ruins, castles and ancient buildings</layerstyle>
			<layerstyle>LANDUSE_ALLOTMENTS;False;True;230,200,169;Continuos;ByLineWeightDefault;0;True;False;A piece of land given over to local residents for growing vegetables and flowers</layerstyle>
			<layerstyle>LANDUSE_BASIN;False;True;180,208,209;Continuos;ByLineWeightDefault;0;True;False;An area of water that drains into a river</layerstyle>
			<layerstyle>LANDUSE_BROWNFIELD;False;True;182,182,144;Continuos;ByLineWeightDefault;0;True;False;Describes land scheduled for new development where old buildings have been demolished and cleared</layerstyle>
			<layerstyle>LANDUSE_CEMETERY;False;True;168,202,173;Continuos;ByLineWeightDefault;0;True;False;Place for burials</layerstyle>
			<layerstyle>LANDUSE_COMMERCIAL;False;True;240,200,199;Continuos;ByLineWeightDefault;0;True;False;Predominantly offices, business parks, etc.</layerstyle>
			<layerstyle>LANDUSE_CONSERVATION;False;True;207,237,165;Continuos;ByLineWeightDefault;0;True;False;Protected areas (Not approved) </layerstyle>
			<layerstyle>LANDUSE_CONSTRUCTION;False;True;182,182,144;Continuos;ByLineWeightDefault;0;True;False;"Under construction" site, should become something different once the construction is finished</layerstyle>
			<layerstyle>LANDUSE_FARM*;False;True;236,221,200;Continuos;ByLineWeightDefault;0;True;False;An area of farm</layerstyle>
			<layerstyle>LANDUSE_FOREST;False;True;94,176,104;Continuos;ByLineWeightDefault;0;True;False;Managed forest or woodland plantation</layerstyle>
			<layerstyle>LANDUSE_GARAGES;False;True;222,221,204;Continuos;ByLineWeightDefault;0;True;False;One level buildings with boxes commonly for cars</layerstyle>
			<layerstyle>LANDUSE_GRASS;False;True;207,237,165;Continuos;ByLineWeightDefault;0;True;False;areas covered with grass</layerstyle>
			<layerstyle>LANDUSE_GREENFIELD;False;True;182,182,144;Continuos;ByLineWeightDefault;0;True;False;land scheduled for new development where there have been no buildings before</layerstyle>
			<layerstyle>LANDUSE_GREENHOUSE_HORTICULTURE;False;True;241,238,232;Continuos;ByLineWeightDefault;0;True;False;used for growing plants in greenhouses</layerstyle>
			<layerstyle>LANDUSE_INDUSTRIAL;False;True;223,209,214;Continuos;ByLineWeightDefault;0;True;False;Predominantly workshops, factories or warehouses</layerstyle>
			<layerstyle>LANDUSE_LANDFILL;False;True;182,182,144;Continuos;ByLineWeightDefault;0;True;False;Place where waste is dumped</layerstyle>
			<layerstyle>LANDUSE_MEADOW;False;True;207,236,168;Continuos;ByLineWeightDefault;0;True;False;area of land primarily vegetated by grass and other non-woody plants</layerstyle>
			<layerstyle>LANDUSE_MILITARY;False;True;244,218,213;Continuos;ByLineWeightDefault;0;True;False;land areas owned/used by the military for whatever purpose</layerstyle>
			<layerstyle>LANDUSE_ORCHARD;False;True;156,217,140;Continuos;ByLineWeightDefault;0;True;False;intentional planting of trees or shrubs maintained for food production</layerstyle>
			<layerstyle>LANDUSE_PLANT_NURSERY;False;True;160,216,123;Continuos;ByLineWeightDefault;0;True;False;intentional planting of plants maintaining for the production of new plants</layerstyle>
			<layerstyle>LANDUSE_QUARRY;False;True;197,195,195;Continuos;ByLineWeightDefault;0;True;False;Surface mineral extraction</layerstyle>
			<layerstyle>LANDUSE_RAILWAY;False;True;222,208,213;Continuos;ByLineWeightDefault;0;True;False;Area for railway use, generally off-limits to the general public</layerstyle>
			<layerstyle>LANDUSE_RECREATION_GROUND;False;True;207,237,165;Continuos;ByLineWeightDefault;0;True;False;open green space for general recreation</layerstyle>
			<layerstyle>LANDUSE_RESERVOIR;False;True;180,208,209;Continuos;ByLineWeightDefault;0;True;False;Stores water</layerstyle>
			<layerstyle>LANDUSE_RESIDENTIAL;False;True;225,225,225;Continuos;ByLineWeightDefault;0;True;False;Predominantly houses or apartment buildings</layerstyle>
			<layerstyle>LANDUSE_RETAIL;False;True;240,217,217;Continuos;ByLineWeightDefault;0;True;False;Predominantly shops</layerstyle>
			<layerstyle>LANDUSE_VILLAGE_GREEN;False;True;207,237,165;Continuos;ByLineWeightDefault;0;True;False;area of common land, usually grass, in the centre of a village</layerstyle>
			<layerstyle>LANDUSE_VINEYARD;False;True;179,226,168;Continuos;ByLineWeightDefault;0;True;False;A piece of land where grapes are grown</layerstyle>
			<layerstyle>LANDUSE*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;the human use of land</layerstyle>
			<layerstyle>LEISURE_COMMON;False;True;207,236,168;Continuos;ByLineWeightDefault;0;True;False;An area where the public can walk anywhere (UK)</layerstyle>
			<layerstyle>LEISURE_WHITE;False;True;207,236,168;Continuos;ByLineWeightDefault;0;True;False;Place where flowers and other plants are grown in a decorative and structured manner or for scientific purposes.</layerstyle>
			<layerstyle>LEISURE_GOLF_COURSE;False;True;249,249,249;Continuos;ByLineWeightDefault;0;True;False;The outline of a golf course</layerstyle>
			<layerstyle>LEISURE_NATURE_RESERVE;False;True;241,238,232;Continuos;ByLineWeightDefault;0;True;False;Protected area of importance for wildlife, flora, fauna or features of geological or other special interest</layerstyle>
			<layerstyle>LEISURE_PARK;False;True;205,247,201;Continuos;ByLineWeightDefault;0;True;False;Open, green area for recreation, usually municipal.</layerstyle>
			<layerstyle>LEISURE_PITCH;False;True;138,211,175;Continuos;ByLineWeightDefault;0;True;False;e.g. a field for playing football/soccer, cricket, baseball sports, and skate parks</layerstyle>
			<layerstyle>LEISURE_PLAYGROUND;False;True;203,254,241;Continuos;ByLineWeightDefault;0;True;False;Playground for little children</layerstyle>
			<layerstyle>LEISURE_SPORTS_CENTRE;False;True;35,205,152;Continuos;ByLineWeightDefault;0;True;False;A distinct facility where a range of sports take place within an enclosed area</layerstyle>
			<layerstyle>LEISURE_STADIUM;False;True;35,205,152;Continuos;ByLineWeightDefault;0;True;False;A major sports arena with substantial tiered seating</layerstyle>
			<layerstyle>LEISURE*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;leisure and sports facilities</layerstyle>
			<layerstyle>MAN_MADE*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;tags for identifying man made (artificial) structures added to the landscape</layerstyle>
			<layerstyle>MILITARY_BARRACKS;False;True;246,151,149;Continuos;ByLineWeightDefault;0;True;False;Buildings where soldiers live and work</layerstyle>
			<layerstyle>MILITARY_DANGER_AREA;False;True;249,228,230;Continuos;ByLineWeightDefault;0;True;False;area around something like a firing range, bombing range, etc which can be an exclusion zone</layerstyle>
			<layerstyle>MILITARY*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;facilities and land used by the military</layerstyle>
			<layerstyle>NATURAL_GRASSLAND;False;True;198,228,180;Continuos;ByLineWeightDefault;0;True;False;vegetation dominated by grasses (Poaceae) and other herbaceous (non-woody) plants</layerstyle>
			<layerstyle>NATURAL_HEATH;False;True;214,217,159;Continuos;ByLineWeightDefault;0;True;False;Bare lower lying uncultivated land with bushes but little or no tree cover</layerstyle>
			<layerstyle>NATURAL_MUD;False;False;230,220,209;Continuos;ByLineWeightDefault;0;True;False;mud</layerstyle>
			<layerstyle>NATURAL_SAND;False;True;255,224,130;Continuos;ByLineWeightDefault;0;True;False;Ground coverage of mostly silica particles, with no or very sparse vegetation</layerstyle>
			<layerstyle>NATURAL_SCRUB;False;True;181,227,181;Continuos;ByLineWeightDefault;0;True;False;Uncultivated land covered with bushes or stunted trees</layerstyle>
			<layerstyle>NATURAL_WETLAND;False;True;242,239,233;Continuos;ByLineWeightDefault;0;True;False;waterlogged area</layerstyle>
			<layerstyle>NATURAL_WOOD;False;True;174,209,160;Continuos;ByLineWeightDefault;0;True;False;woodland where timber production does not dominate use</layerstyle>
			<layerstyle>NATURAL_BEACH;False;True;241,229,179;Continuos;ByLineWeightDefault;0;True;False;a beach, a flat area of sand, gravel or pebble next to water</layerstyle>
			<layerstyle>NATURAL_WATER;False;True;180,208,209;Continuos;ByLineWeightDefault;0;True;False;Lakes, etc.</layerstyle>
			<layerstyle>NATURAL_GLACIER;False;True;221,236,236;Continuos;ByLineWeightDefault;0;True;False;Areas (or peaks) covered with ice throughout the year</layerstyle>
			<layerstyle>NATURAL*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;natural physical land features, including ones that have been modified by humans</layerstyle>
			<layerstyle>OFFICE*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;place of business where administrative or professional work is carried out</layerstyle>
			<layerstyle>PLACE*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;mainly to give details about settlements</layerstyle>
			<layerstyle>POWER;False;True;7;Continuos;ByLineWeightDefault;0;True;False;to map electrical power generation and distributions systems</layerstyle>
			<layerstyle>PUBLIC_TRANSPORT_PLATFORM;False;True;254,191,111;Continuos;ByLineWeightDefault;0;True;False;place where passengers are waiting for the transportation vehicle.</layerstyle>
			<layerstyle>PUBLIC_TRANSPORT*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;related to public transport</layerstyle>
			<layerstyle>RAILWAY*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;all kind of railway from heavy used mainline railway down to an abandoned line</layerstyle>
			<layerstyle>ROUTE*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;describe routes of many kinds</layerstyle>
			<layerstyle>SHOP*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;place of business stocked with goods for sale</layerstyle>
			<layerstyle>SPORT*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;Use to provide information about which sports are placed on a facility such as a pitch or stadium.</layerstyle>
			<layerstyle>TOURISM*;False;True;7;Continuos;ByLineWeightDefault;0;True;False; to map places and things of specific interest to tourists: places to see, places to stay, things and places providing support</layerstyle>
			<layerstyle>TOURISM_ZOO;False;True;164,243,161;Continuos;ByLineWeightDefault;0;True;False;Zoological garden.</layerstyle>
			<layerstyle>WATERWAY_RIVERBANK;False;True;180,208,209;Continuos;ByLineWeightDefault;0;True;False;define an area between the opposite riverbanks</layerstyle>
			<layerstyle>WATERWAY*;False;True;180,208,209;Continuos;ByLineWeightDefault;0;True;False;rivers, canals etc., the way should be aligned in the direction of water flow</layerstyle>
			<layerstyle>*;False;True;7;Continuos;ByLineWeightDefault;0;True;False;Default Layer with all undefined stuff</layerstyle>
		</layersettings>
	</importstyle>
	<importstyle name="Mapnik">
		<!-- this list is to identifie nodes to insert them as block. -->
		<!-- the blockname will be build in the form: layerprefix _ keyname _ value;  like "OSM_amenity_bench" or "OSM_leisure_playground"-->
		<!-- this list will be used top down, if a tagname fits all others will be ignored -->
		<!-- if a tag name is not listed, the node will be ignored to insert-->
		<nodetagkeynames>
			<nodetagkey>amenity</nodetagkey>
			<nodetagkey>crossing</nodetagkey>
			<nodetagkey>shop</nodetagkey>
			<nodetagkey>highway</nodetagkey>
			<nodetagkey>leisure</nodetagkey>
		</nodetagkeynames>
		<layer4license>OSM_IMPORT_BOUNDARY</layer4license>
		<licenstext>© OpenStreetMap contributors</licenstext>
		<layer4nodes>OSM_NODE</layer4nodes>
		<layerprefix>OSM</layerprefix>
		<layerkeynames>
			<layerkey>aerialway</layerkey>
			<layerkey>aeroway</layerkey>
			<layerkey>amenity</layerkey>
			<layerkey>barrier</layerkey>
			<layerkey>boundary</layerkey>
			<layerkey>building</layerkey>
			<layerkey>craft</layerkey>
			<layerkey>emergency</layerkey>
			<layerkey>geological</layerkey>
			<layerkey>highway</layerkey>
			<layerkey>cycleway</layerkey>
			<layerkey>historic</layerkey>
			<layerkey>landuse</layerkey>
			<layerkey>leisure</layerkey>
			<layerkey>man made</layerkey>
			<layerkey>military</layerkey>
			<layerkey>natural</layerkey>
			<layerkey>office</layerkey>
			<layerkey>places</layerkey>
			<layerkey>power</layerkey>
			<layerkey>public transport</layerkey>
			<layerkey>railway</layerkey>
			<layerkey>route</layerkey>
			<layerkey>shop</layerkey>
			<layerkey>sport</layerkey>
			<layerkey>tourism</layerkey>
			<layerkey>waterway</layerkey>
		</layerkeynames>
		<layersettings>
			<!-- this list will be used top down, if a layername fits all others will be ignored -->
			<!-- Name;On;Freeze;Lock;Color;Linetype;Lineweight;Transparency;Plot;New VP Freeze;Description -->
			<layerstyle>IMPORT_BOUNDARY;True;False;7;Continuos;ByLineWeightDefault;0;True;False;individual buildings or groups of connected buildings</layerstyle>
			<layerstyle>ARIALWAY*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;Skilifts etc.</layerstyle>
			<layerstyle>AEROWAY_APRON;True;False;204,153,255;Continuos;ByLineWeightDefault;0;True;False;A place where planes are parked.</layerstyle>
			<layerstyle>AEROWAY_TERMINAL;True;False;204,153,255;Continuos;ByLineWeightDefault;0;True;False;</layerstyle>
			<layerstyle>AEROWAY*;True;False;187,187,204;Continuos;ByLineWeightDefault;0;True;False;Airport passenger building</layerstyle>
			<layerstyle>AMENITY_PARKING;True;False;246,239,180;Continuos;ByLineWeightDefault;0;True;False;Car park. </layerstyle>
			<layerstyle>AMENITY_CINEMA;True;False;204,153,153;Continuos;ByLineWeightDefault;0;True;False;</layerstyle>
			<layerstyle>AMENITY*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;Used to map facilities for visitors and residents</layerstyle>
			<layerstyle>BARRIER*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;Used to describe barriers and obstacles to travel.</layerstyle>
			<layerstyle>BOUNDARY_ADMINISTRATIVE;True;False;249,113,103;DASHDOT;ByLineWeightDefault;0;True;False;An administrative boundary.</layerstyle>
			<layerstyle>BOUNDARY_NATIONAL_PARK;True;False;111,249,114;DASHDOT;ByLineWeightDefault;0;True;False;Area of outstanding natural beauty, set aside for conservation and for recreation</layerstyle>
			<layerstyle>BOUNDARY*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;Used to describe administrative and other boundaries.</layerstyle>
			<layerstyle>BUILDING*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;individual buildings or groups of connected buildings</layerstyle>
			<layerstyle>CRAFT*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;A place producing or processing customised goods.</layerstyle>
			<layerstyle>EMERGENCY*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;Used to describe the location of emergency facilities and equipment.</layerstyle>
			<layerstyle>GEOLOGICAL*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;Used to describe the geological makeup of an area</layerstyle>
			<layerstyle>HIGHWAY_MOTORWAY*;True;False;136,163,204;Continuos;ByLineWeightDefault;0;True;False;A restricted access major divided highway</layerstyle>
			<layerstyle>HIGHWAY_TRUNK;True;False;148,212,148;Continuos;ByLineWeightDefault;0;True;False;2nd most important roads in a country's system that aren't motorways.</layerstyle>
			<layerstyle>HIGHWAY_PRIMARY*;True;False;220,158,158;Continuos;ByLineWeightDefault;0;True;False;3th most important roads in a country's system.</layerstyle>
			<layerstyle>HIGHWAY_SECONDARY*;True;False;248,213,169;Continuos;ByLineWeightDefault;0;True;False;4th most important roads in a country's system</layerstyle>
			<layerstyle>HIGHWAY_TERTIARY*;True;False;248,248,186;Continuos;ByLineWeightDefault;0;True;False;5th most important roads in a country's system</layerstyle>
			<layerstyle>HIGHWAY_UNCLASSIFIED;True;False;254,254,254;Continuos;ByLineWeightDefault;0;True;False;The least most important through roads in a country's system </layerstyle>
			<layerstyle>HIGHWAY_RESIDENTIAL;True;False;254,254,254;Continuos;ByLineWeightDefault;0;True;False;Roads which are primarily lined with and serve as an access to housing.</layerstyle>
			<layerstyle>HIGHWAY_SERVICE;True;False;254,254,254;Continuos;ByLineWeightDefault;0;True;False;For access roads to, or within an industrial estate, camp site, business park, car park etc</layerstyle>
			<layerstyle>HIGHWAY_LIVING_STREET;True;False;204,204,204;Continuos;ByLineWeightDefault;0;True;False;For living streets, which are residential streets where pedestrians have legal priority over cars</layerstyle>
			<layerstyle>HIGHWAY_PEDESTRIAN;True;False;237,237,237;Continuos;ByLineWeightDefault;0;True;False;For roads used mainly/exclusively for pedestrians in shopping and some residential areas</layerstyle>
			<layerstyle>HIGHWAY_TRACK;True;False;171,134,55;HIDDEN;ByLineWeightDefault;0;True;False;Roads for agricultural or forestry uses etc, often rough with unpaved/unsealed surfaces</layerstyle>
			<layerstyle>HIGHWAY_BUS_GUIDEWAY;True;False;102,102,255;DASHED;ByLineWeightDefault;0;True;False;A busway where the vehicle guided by the way (though not a railway) and is not suitable for other traffic.</layerstyle>
			<layerstyle>HIGHWAY_ROAD;True;False;220,220,220;Continuos;ByLineWeightDefault;0;True;False;A road where the mapper is unable to ascertain the classification from the information available</layerstyle>
			<layerstyle>HIGHWAY_FOOTWAY;True;False;248,206,200;HIDDEN;ByLineWeightDefault;0;True;False;For designated footpaths</layerstyle>
			<layerstyle>HIGHWAY_BRIDLEWAY;True;False;90,170,88;HIDDEN2;ByLineWeightDefault;0;True;False;For horses</layerstyle>
			<layerstyle>HIGHWAY_STEPS;True;False;7;HIDDEN2;ByLineWeightDefault;0;True;False;For flights of steps (stairs) on footways</layerstyle>
			<layerstyle>HIGHWAY_PATH;True;False;7;DASEHD;ByLineWeightDefault;0;True;False;For flights of steps (stairs) on footways</layerstyle>
			<layerstyle>HIGHWAY_CYCLEWAY;True;False;12,12,255;HIDDEN;ByLineWeightDefault;0;True;False;For designated cycleways</layerstyle>
			<layerstyle>HIGHWAY_REST_AREA;True;False;236,202,203;Continuos;ByLineWeightDefault;0;True;False;Place where drivers can leave the road to rest, but not refuel</layerstyle>
			<layerstyle>HIGHWAY_SERVICES;True;False;236,202,203;Continuos;ByLineWeightDefault;0;True;False;A service station to get food and eat something, often found at motorways</layerstyle>
			<layerstyle>HIGHWAY*;True;False;236,202,203;Continuos;ByLineWeightDefault;0;True;False;unknown highway</layerstyle>
			<layerstyle>CYCLEWAY*;True;False;12,12,255;HIDDEN;ByLineWeightDefault;0;True;False;For designated cycleways</layerstyle>
			<layerstyle>HISTORIC*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;archeological sites, wrecks, ruins, castles and ancient buildings</layerstyle>
			<layerstyle>LANDUSE_ALLOTMENTS;True;False;230,200,169;Continuos;ByLineWeightDefault;0;True;False;A piece of land given over to local residents for growing vegetables and flowers</layerstyle>
			<layerstyle>LANDUSE_BASIN;True;False;180,208,209;Continuos;ByLineWeightDefault;0;True;False;An area of water that drains into a river</layerstyle>
			<layerstyle>LANDUSE_BROWNFIELD;True;False;182,182,144;Continuos;ByLineWeightDefault;0;True;False;Describes land scheduled for new development where old buildings have been demolished and cleared</layerstyle>
			<layerstyle>LANDUSE_CEMETERY;True;False;168,202,173;Continuos;ByLineWeightDefault;0;True;False;Place for burials</layerstyle>
			<layerstyle>LANDUSE_COMMERCIAL;True;False;240,200,199;Continuos;ByLineWeightDefault;0;True;False;Predominantly offices, business parks, etc.</layerstyle>
			<layerstyle>LANDUSE_CONSERVATION;True;False;207,237,165;Continuos;ByLineWeightDefault;0;True;False;Protected areas (Not approved) </layerstyle>
			<layerstyle>LANDUSE_CONSTRUCTION;True;False;182,182,144;Continuos;ByLineWeightDefault;0;True;False;"Under construction" site, should become something different once the construction is finished</layerstyle>
			<layerstyle>LANDUSE_FARM*;True;False;236,221,200;Continuos;ByLineWeightDefault;0;True;False;An area of farm</layerstyle>
			<layerstyle>LANDUSE_FOREST;True;False;7;Continuos;ByLineWeightDefault;0;True;False;Managed forest or woodland plantation</layerstyle>
			<layerstyle>LANDUSE_GARAGES;True;False;222,221,204;Continuos;ByLineWeightDefault;0;True;False;One level buildings with boxes commonly for cars</layerstyle>
			<layerstyle>LANDUSE_GRASS;True;False;207,237,165;Continuos;ByLineWeightDefault;0;True;False;areas covered with grass</layerstyle>
			<layerstyle>LANDUSE_GREENFIELD;True;False;182,182,144;Continuos;ByLineWeightDefault;0;True;False;land scheduled for new development where there have been no buildings before</layerstyle>
			<layerstyle>LANDUSE_GREENHOUSE_HORTICULTURE;True;False;241,238,232;Continuos;ByLineWeightDefault;0;True;False;used for growing plants in greenhouses</layerstyle>
			<layerstyle>LANDUSE_INDUSTRIAL;True;False;223,209,214;Continuos;ByLineWeightDefault;0;True;False;Predominantly workshops, factories or warehouses</layerstyle>
			<layerstyle>LANDUSE_LANDFILL;True;False;182,182,144;Continuos;ByLineWeightDefault;0;True;False;Place where waste is dumped</layerstyle>
			<layerstyle>LANDUSE_MEADOW;True;False;207,236,168;Continuos;ByLineWeightDefault;0;True;False;area of land primarily vegetated by grass and other non-woody plants</layerstyle>
			<layerstyle>LANDUSE_MILITARY;True;False;244,218,213;Continuos;ByLineWeightDefault;0;True;False;land areas owned/used by the military for whatever purpose</layerstyle>
			<layerstyle>LANDUSE_ORCHARD;True;False;156,217,140;Continuos;ByLineWeightDefault;0;True;False;intentional planting of trees or shrubs maintained for food production</layerstyle>
			<layerstyle>LANDUSE_PLANT_NURSERY;True;False;160,216,123;Continuos;ByLineWeightDefault;0;True;False;intentional planting of plants maintaining for the production of new plants</layerstyle>
			<layerstyle>LANDUSE_QUARRY;True;False;197,195,195;Continuos;ByLineWeightDefault;0;True;False;Surface mineral extraction</layerstyle>
			<layerstyle>LANDUSE_RAILWAY;True;False;222,208,213;Continuos;ByLineWeightDefault;0;True;False;Area for railway use, generally off-limits to the general public</layerstyle>
			<layerstyle>LANDUSE_RECREATION_GROUND;True;False;207,237,165;Continuos;ByLineWeightDefault;0;True;False;open green space for general recreation</layerstyle>
			<layerstyle>LANDUSE_RESERVOIR;True;False;180,208,209;Continuos;ByLineWeightDefault;0;True;False;Stores water</layerstyle>
			<layerstyle>LANDUSE_RESIDENTIAL;True;False;225,225,225;Continuos;ByLineWeightDefault;0;True;False;Predominantly houses or apartment buildings</layerstyle>
			<layerstyle>LANDUSE_RETAIL;True;False;240,217,217;Continuos;ByLineWeightDefault;0;True;False;Predominantly shops</layerstyle>
			<layerstyle>LANDUSE_VILLAGE_GREEN;True;False;207,237,165;Continuos;ByLineWeightDefault;0;True;False;area of common land, usually grass, in the centre of a village</layerstyle>
			<layerstyle>LANDUSE_VINEYARD;True;False;179,226,168;Continuos;ByLineWeightDefault;0;True;False;A piece of land where grapes are grown</layerstyle>
			<layerstyle>LANDUSE*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;the human use of land</layerstyle>
			<layerstyle>LEISURE_COMMON;True;False;207,236,168;Continuos;ByLineWeightDefault;0;True;False;An area where the public can walk anywhere (UK)</layerstyle>
			<layerstyle>LEISURE_WHITE;True;False;207,236,168;Continuos;ByLineWeightDefault;0;True;False;Place where flowers and other plants are grown in a decorative and structured manner or for scientific purposes.</layerstyle>
			<layerstyle>LEISURE_GOLF_COURSE;True;False;249,249,249;Continuos;ByLineWeightDefault;0;True;False;The outline of a golf course</layerstyle>
			<layerstyle>LEISURE_NATURE_RESERVE;True;False;241,238,232;Continuos;ByLineWeightDefault;0;True;False;Protected area of importance for wildlife, flora, fauna or features of geological or other special interest</layerstyle>
			<layerstyle>LEISURE_PARK;True;False;205,247,201;Continuos;ByLineWeightDefault;0;True;False;Open, green area for recreation, usually municipal.</layerstyle>
			<layerstyle>LEISURE_PITCH;True;False;138,211,175;Continuos;ByLineWeightDefault;0;True;False;e.g. a field for playing football/soccer, cricket, baseball sports, and skate parks</layerstyle>
			<layerstyle>LEISURE_PLAYGROUND;True;False;203,254,241;Continuos;ByLineWeightDefault;0;True;False;Playground for little children</layerstyle>
			<layerstyle>LEISURE_SPORTS_CENTRE;True;False;35,205,152;Continuos;ByLineWeightDefault;0;True;False;A distinct facility where a range of sports take place within an enclosed area</layerstyle>
			<layerstyle>LEISURE_STADIUM;True;False;35,205,152;Continuos;ByLineWeightDefault;0;True;False;A major sports arena with substantial tiered seating</layerstyle>
			<layerstyle>LEISURE*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;leisure and sports facilities</layerstyle>
			<layerstyle>MAN_MADE*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;tags for identifying man made (artificial) structures added to the landscape</layerstyle>
			<layerstyle>MILITARY_BARRACKS;True;False;246,151,149;Continuos;ByLineWeightDefault;0;True;False;Buildings where soldiers live and work</layerstyle>
			<layerstyle>MILITARY_DANGER_AREA;True;False;249,228,230;Continuos;ByLineWeightDefault;0;True;False;area around something like a firing range, bombing range, etc which can be an exclusion zone</layerstyle>
			<layerstyle>MILITARY*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;facilities and land used by the military</layerstyle>
			<layerstyle>NATURAL_GRASSLAND;True;False;198,228,180;Continuos;ByLineWeightDefault;0;True;False;vegetation dominated by grasses (Poaceae) and other herbaceous (non-woody) plants</layerstyle>
			<layerstyle>NATURAL_HEATH;True;False;214,217,159;Continuos;ByLineWeightDefault;0;True;False;Bare lower lying uncultivated land with bushes but little or no tree cover</layerstyle>
			<layerstyle>NATURAL_MUD;True;False;230,220,209;Continuos;ByLineWeightDefault;0;True;False;mud</layerstyle>
			<layerstyle>NATURAL_SAND;True;False;255,224,130;Continuos;ByLineWeightDefault;0;True;False;Ground coverage of mostly silica particles, with no or very sparse vegetation</layerstyle>
			<layerstyle>NATURAL_SCRUB;True;False;181,227,181;Continuos;ByLineWeightDefault;0;True;False;Uncultivated land covered with bushes or stunted trees</layerstyle>
			<layerstyle>NATURAL_WETLAND;True;False;242,239,233;Continuos;ByLineWeightDefault;0;True;False;waterlogged area</layerstyle>
			<layerstyle>NATURAL_WOOD;True;False;174,209,160;Continuos;ByLineWeightDefault;0;True;False;woodland where timber production does not dominate use</layerstyle>
			<layerstyle>NATURAL_BEACH;True;False;241,229,179;Continuos;ByLineWeightDefault;0;True;False;a beach, a flat area of sand, gravel or pebble next to water</layerstyle>
			<layerstyle>NATURAL_WATER;True;False;180,208,209;Continuos;ByLineWeightDefault;0;True;False;Lakes, etc.</layerstyle>
			<layerstyle>NATURAL_GLACIER;True;False;221,236,236;Continuos;ByLineWeightDefault;0;True;False;Areas (or peaks) covered with ice throughout the year</layerstyle>
			<layerstyle>NATURAL*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;natural physical land features, including ones that have been modified by humans</layerstyle>
			<layerstyle>OFFICE*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;place of business where administrative or professional work is carried out</layerstyle>
			<layerstyle>PLACE*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;mainly to give details about settlements</layerstyle>
			<layerstyle>POWER;True;False;7;Continuos;ByLineWeightDefault;0;True;False;to map electrical power generation and distributions systems</layerstyle>
			<layerstyle>PUBLIC_TRANSPORT_PLATFORM;True;False;254,191,111;Continuos;ByLineWeightDefault;0;True;False;place where passengers are waiting for the transportation vehicle.</layerstyle>
			<layerstyle>PUBLIC_TRANSPORT*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;related to public transport</layerstyle>
			<layerstyle>RAILWAY*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;all kind of railway from heavy used mainline railway down to an abandoned line</layerstyle>
			<layerstyle>ROUTE*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;describe routes of many kinds</layerstyle>
			<layerstyle>SHOP*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;place of business stocked with goods for sale</layerstyle>
			<layerstyle>SPORT*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;Use to provide information about which sports are placed on a facility such as a pitch or stadium.</layerstyle>
			<layerstyle>TOURISM*;True;False;7;Continuos;ByLineWeightDefault;0;True;False; to map places and things of specific interest to tourists: places to see, places to stay, things and places providing support</layerstyle>
			<layerstyle>TOURISM_ZOO;True;False;164,243,161;Continuos;ByLineWeightDefault;0;True;False;Zoological garden.</layerstyle>
			<layerstyle>WATERWAY_RIVERBANK;True;False;180,208,209;Continuos;ByLineWeightDefault;0;True;False;define an area between the opposite riverbanks</layerstyle>
			<layerstyle>WATERWAY*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;rivers, canals etc., the way should be aligned in the direction of water flow</layerstyle>
			<layerstyle>*;True;False;7;Continuos;ByLineWeightDefault;0;True;False;Default Layer with all undefined stuff</layerstyle>
		</layersettings>
	</importstyle >
</osmin>